.error-popup {
  position: fixed;
  top: 10px;
  right: 10px;
  max-width: 50%;
  display: flex;
  background: #df5151;
  gap: 10px;
  padding: 10px;
  justify-content: left;
  align-items: center;
  border-radius: 0.5rem;
  transition: all 0.8s;

  &__image {
    width: 20px;
  }

  &__message {
    font-size: 0.8em;
    margin: 0;
    padding: 0;
  }
}
