.footer {
  background-color: #202020;
  color: #fff;
  padding: 74px 0 20px;

  &__container {
    margin: 0 auto;
    max-width: 1140px;
  }

  &__message {
    border-bottom: 1px #424242 solid;
    color: #8b8b8b;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    text-align: center;
  }

  &__bottom-line {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__timestamp {
    font-size: 13px;
    font-weight: 400;
  }

  &__links {
    display: flex;
    gap: 20px;
  }

  &__link {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
  }

  /* Медиа-запрос для максимальной ширины экрана 1200px */
  @media screen and (max-width: 1200px) {
    &__container {
      max-width: calc(100vw - 60px);
    }
  }

  /* Медиа-запрос для максимальной ширины экрана 600px */
  @media screen and (max-width: 600px) {
    &__container {
      max-width: calc(100vw - 20px);
    }
    &__message {
      font-size: 12px;
    }
    &__bottom-line {
      flex-direction: column-reverse;
      margin-top: 30px;
    }
    &__links {
      flex-direction: column;
      gap: 14px;
      margin-bottom: 30px;
    }
    &__link {
      font-size: 12px;
    }
  }
}
