.login {
  width: 100%;

  &__container {
    width: 100%;
    max-width: 396px;
    margin: 0 auto;
    padding-top: 70px;
    text-align: left;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 323px);
  }

  &__heading {
    font-size: 24px;
    font-weight: 500;
    margin: 40px 0;
    padding: 0;
    color: #fff;
  }

  &__label {
    display: block;
    font-size: 10px;
    font-weight: 400;
    margin: 0;
    padding: 0 0 10px;
    color: #8b8b8b;
  }

  &__fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  &__field {
    width: 100%;
    height: 46px;
    padding: 15px;
    margin: 0 0 5px;
    box-sizing: border-box;
    background-color: #2f2f2f;
    border-radius: 8px;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    transition: all 0.3s ease-in-out;

    &:focus {
      outline: 1px #b6b6b6 solid;
      outline-offset: 1px;
      border-radius: 8px;
    }

    &_error {
      color: #ee3465;

      &:focus {
        outline: 1px #ee3465 solid;
      }
    }
  }

  &__error-message {
    display: block;
    min-height: 12px;
    margin: 0 0 5px;
    padding: 0;
    color: #ee3465;
    font-size: 10px;
    font-weight: 400;

    &_main {
      text-align: center;
      font-size: 11px;
      margin-bottom: 20px;
    }
  }

  &__message {
    margin: 16px 0 0;
    padding: 0;
    color: #8b8b8b;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
  }

  &__link {
    color: #4285f4;
    font-size: 14px;
    font-weight: 400;
    transition: 0.3s ease-in-out;
  }

  &__button {
    width: 100%;
    height: 45px;
    padding: 0;
    background-color: #4285f4;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 3px;

    &_disabled {
      background: #f8f8f8;
      color: #c2c2c2;
      cursor: default;
    }
  }
}

/* Медиа-запрос для максимальной ширины экрана 600px */
@media screen and (max-width: 600px) {
  .button_type_login {
    font-size: 12px;
  }

  .login {
    margin: 0 auto;
    padding-top: 56px;
    text-align: center;

    &__button {
      font-size: 12px;
    }

    &__heading {
      margin-top: 46px;
      margin-bottom: 80px;
    }

    &__label {
      text-align: left;
    }

    &__container {
      margin: 0 auto 30px;
      padding-top: 0;
      text-align: center;
      max-width: calc(100% - 60px);
    }

    &__message {
      font-size: 12px;
    }

    &__link {
      font-size: 12px;
    }

    &__form {
      min-height: calc(100vh - 312px);
    }
  }
}
